@import 'bootstrap/dist/css/bootstrap.min.css';
body{
  height: 100vh;
  box-sizing: border-box;
}
@media (max-width: 500px) {
  .product {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 900px) {
  .cart {
    display: flex;
    flex-direction: column;
  }
}
